*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
}
.titulo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
h1{
    margin-left: 35px;
}
.btn{
    margin-right: 50px;
    color: black;
}
img{
    width: 300px;
}
ul {
    list-style: none;
}
li{
    margin-top: 20px;
}
