*{
    color:aliceblue;
}
.titulo{
    display: flex;
    justify-content: space-between;
}
.titulo-h1{
    display: flex;
    margin: 35px;
}
.btn{
    display: flex;
    height: 40px;
    margin-top: 50px;
    margin-right: 50px;
    color: black;
}

img {
    width: 300px;
}

ul {
    list-style: none;
}
li{
    margin-top: 20px;
}
