body{
    background-color: #212529;
}
#foto-user{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    bottom: 90px;
}
.nombre{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    bottom: -10px;
}
h2, h4, h5, p{
    color:white;
}