<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div class="container mb-3 pb-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 foto-user">
            <div id="boton-edit">
                <img id="foto-user" src="../../../assets/imagenes/usuario.jpg" alt="">
                <!--<button class="edit edit-foto"><i class="fa-solid fa-pen-to-square"></i></button>-->
            </div>
            <div class="nombre">
                <h2>{{ miPortfolio.nombre }} {{ miPortfolio.apellido }}</h2>
                <h5>Developer Web Jr</h5>
            </div>
        </div>
        <div class="mt-4 col-md-7">
            <h4>Acerca de mi</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eaque quis, expedita nobis quia itaque magnam quam odit voluptatibus eum eius dolorum molestias nulla
                minus provident excepturi,
                laudantium ducimus harum? Nesciunt.</p>
        </div>
        <!--<div class="col-md-1">
            <button class="edit edit-acerca">edit <i class="fa-solid fa-pen-to-square"></i></button>
        </div>-->

    </div>
</div>
</body>